.m0 {
  margin: 0em !important;
}
.m1 {
  margin: 0.5em !important;
}
.m2 {
  margin: 1em !important;
}
.m3 {
  margin: 1.5em !important;
}
.m4 {
  margin: 2em !important;
}
.m5 {
  margin: 2.5em !important;
}
.m6 {
  margin: 3em !important;
}
.m7 {
  margin: 3.5em !important;
}
.m8 {
  margin: 4em !important;
}
.mt0 {
  margin-top: 0em !important;
}
.mt1 {
  margin-top: 0.5em !important;
}
.mt2 {
  margin-top: 1em !important;
}
.mt3 {
  margin-top: 1.5em !important;
}
.mt4 {
  margin-top: 2em !important;
}
.mt5 {
  margin-top: 2.5em !important;
}
.mt6 {
  margin-top: 3em !important;
}
.mt7 {
  margin-top: 3.5em !important;
}
.mt8 {
  margin-top: 4em !important;
}
.mr0 {
  margin-right: 0em !important;
}
.mr1 {
  margin-right: 0.5em !important;
}
.mr2 {
  margin-right: 1em !important;
}
.mr3 {
  margin-right: 1.5em !important;
}
.mr4 {
  margin-right: 2em !important;
}
.mr5 {
  margin-right: 2.5em !important;
}
.mr6 {
  margin-right: 3em !important;
}
.mr7 {
  margin-right: 3.5em !important;
}
.mr8 {
  margin-right: 4em !important;
}
.mb0 {
  margin-bottom: 0em !important;
}
.mb1 {
  margin-bottom: 0.5em !important;
}
.mb2 {
  margin-bottom: 1em !important;
}
.mb3 {
  margin-bottom: 1.5em !important;
}
.mb4 {
  margin-bottom: 2em !important;
}
.mb5 {
  margin-bottom: 2.5em !important;
}
.mb6 {
  margin-bottom: 3em !important;
}
.mb7 {
  margin-bottom: 3.5em !important;
}
.mb8 {
  margin-bottom: 4em !important;
}
.ml0 {
  margin-left: 0em !important;
}
.ml1 {
  margin-left: 0.5em !important;
}
.ml2 {
  margin-left: 1em !important;
}
.ml3 {
  margin-left: 1.5em !important;
}
.ml4 {
  margin-left: 2em !important;
}
.ml5 {
  margin-left: 2.5em !important;
}
.ml6 {
  margin-left: 3em !important;
}
.ml7 {
  margin-left: 3.5em !important;
}
.ml8 {
  margin-left: 4em !important;
}
.p0 {
  padding: 0em !important;
}
.p1 {
  padding: 0.5em !important;
}
.p2 {
  padding: 1em !important;
}
.p3 {
  padding: 1.5em !important;
}
.p4 {
  padding: 2em !important;
}
.p5 {
  padding: 2.5em !important;
}
.p6 {
  padding: 3em !important;
}
.p7 {
  padding: 3.5em !important;
}
.p8 {
  padding: 4em !important;
}
.pt0 {
  padding-top: 0em !important;
}
.pt1 {
  padding-top: 0.5em !important;
}
.pt2 {
  padding-top: 1em !important;
}
.pt3 {
  padding-top: 1.5em !important;
}
.pt4 {
  padding-top: 2em !important;
}
.pt5 {
  padding-top: 2.5em !important;
}
.pt6 {
  padding-top: 3em !important;
}
.pt7 {
  padding-top: 3.5em !important;
}
.pt8 {
  padding-top: 4em !important;
}
.pr0 {
  padding-right: 0em !important;
}
.pr1 {
  padding-right: 0.5em !important;
}
.pr2 {
  padding-right: 1em !important;
}
.pr3 {
  padding-right: 1.5em !important;
}
.pr4 {
  padding-right: 2em !important;
}
.pr5 {
  padding-right: 2.5em !important;
}
.pr6 {
  padding-right: 3em !important;
}
.pr7 {
  padding-right: 3.5em !important;
}
.pr8 {
  padding-right: 4em !important;
}
.pb0 {
  padding-bottom: 0em !important;
}
.pb1 {
  padding-bottom: 0.5em !important;
}
.pb2 {
  padding-bottom: 1em !important;
}
.pb3 {
  padding-bottom: 1.5em !important;
}
.pb4 {
  padding-bottom: 2em !important;
}
.pb5 {
  padding-bottom: 2.5em !important;
}
.pb6 {
  padding-bottom: 3em !important;
}
.pb7 {
  padding-bottom: 3.5em !important;
}
.pb8 {
  padding-bottom: 4em !important;
}
.pl0 {
  padding-left: 0em !important;
}
.pl1 {
  padding-left: 0.5em !important;
}
.pl2 {
  padding-left: 1em !important;
}
.pl3 {
  padding-left: 1.5em !important;
}
.pl4 {
  padding-left: 2em !important;
}
.pl5 {
  padding-left: 2.5em !important;
}
.pl6 {
  padding-left: 3em !important;
}
.pl7 {
  padding-left: 3.5em !important;
}
.pl8 {
  padding-left: 4em !important;
}
