<div class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#intro">
        <img alt="MWUX 2016 CINCINNATI" src="/public/images/mwux-mini.png" />
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#timeline">Timeline</a></li>
        <li><a href="#committee">Committee</a></li>
        <li><a href="#cincinnati">Design in Cincinnati</a></li>
        <li><a href="#venue">Venue</a></li>
        <li><a href="#hotels">Hotels</a></li>
        <li><a href="#budget">Budget</a></li>
        <li><a href="#around">Getting Around</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
