{% block content %}
	<!-- Intro -->
	<div id="intro">
		<div class="container">
			<div class="panel panel-primary col-md-8 col-md-offset-2">
				<div class="col-md-5">
					<img src="/public/images/mwux-2016.png" alt="mwux cincinnati 2016" class="img-responsive" />
				</div>
				<div class="col-md-7 p2">
					<p>UX is changing at lightning speed, and Cincinnati is, too. Since 2004, more than $834 million has been invested in redevelopment and new construction in Cincinnati’s urban core. There’s a major transformation happening in the city, and we’d love to share this new Cincinnati experience with Midwest UX attendees. We envision a conference that covers what’s now, what’s next and how to bridge the gap between the two. Think of Midwest UX Cincinnati as the perfect match between a city and an industry both going places.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Process -->
	<div id="process">
		<div class="container p4">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="text-uppercase text-center">The Application Process</h1>
					<p>In 2015, the entire UX design team from Gaslight, a software design and development firm in Cincinnati, headed for Midwest UX. They came back from the event inspired, informed and downright fired up. We immediately started talking about how cool it would be to bring the conference to Cincinnati. Eventually, we told some local friends about our dream, and soon enough, we’d all pitched in to create this application. Our biggest goal? Make other folks feel as excited as we did after Midwest UX Indianapolis.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Timeline -->
	<div id="timeline">
		<div class="container">
			<h1 class="text-uppercase text-center mt3 mb3">Event Planning Timeline</h1>
			<div class="row">
				<div class="col-md-3">
					<h2 class="text-center">12 Months <small>Before</small></h2>
				</div>
				<div class="panel col-md-9">
					<p class="lead">Event chairs determine and appoint key Committee Chairs. Appointing specific committee chairs helps distribute the work. However, event chairs guide the overall purpose and vision of the event and cannot avoid working closely with each chair. Expected committee chairs:</p>
					<ul>
						<li>Corporate Relations/Sponsorships Chair (immediately)</li>
						<li>Design Chair (immediately)</li>
						<li>Volunteer Coordinator Chair (no later than 9 months before event) </li>
						<li>Marketing & Public Relations Chair (immediately) </li>
						<li>Speaker Curator Chair</li>
						<li>Speaker Relations Chair</li>
						<li>Establish a theme/vision for the event </li>
						<li>Establish a more detailed budget, including expenses and revenue:
							<ul>
								<li>Venue & service</li>
								<li>Catering</li>
								<li>Labor</li>
								<li>Publishing costs</li>
								<li>Special equipment</li>
								<li>Entertainment</li>
							</ul>
						</li>
						<li>Establish location, time & date for Midwest UX Cincinnati</li>
						<li>Book venue: make deposits and sign contracts if necessary </li>
						<li>Create a more detailed event timeline</li>
						<li>Set absolute deadlines and plan accordingly to achieve them. </li>
						<li>Gather assets from Midwest UX 2015: email lists, past attendees, past speakers, sponsor records, budgets, attendee feedback, etc. </li>
						<li>Set up call with Midwest UX 2015 chairs: gather advice, insights, etc. </li>
						<li>Send press release to local media that Cincinnati was chosen as Midwest UX host to start creating excitement and recruiting volunteers. </li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<h2 class="text-center">9 Months <small>Before</small></h2>
				</div>
				<div class="panel col-md-9">
					<ul>
						<li>Appoint last Committee Chairs </li>
						<li>Committee chairs recruit committee members</li>
						<li>Initial committee meetings begin</li>
						<li>Individual committees begin to plan the details of each area and adhere to budget constraints determined by event chairs </li>
					</ul>

					<h4>Speaker Curator</h4>
					<ul>
						<li>Create call for speakers</li>
						<li>Outline speakers slots and tracks, creating a mix of topics and session types</li>
						<li>Outline a process for choosing speaker slate</li>
					</ul>

					<h4>Logistics Committee</h4>
					<ul>
						<li>Determine flow and timing of event</li>
						<li>Determine volunteers needed</li>
						<li>Brainstorm ideas for new and unique experiences</li>
					</ul>

					<h4>Decorations Committee</h4>
					<ul>
						<li>Begin to determine theme</li>
						<li>Start cost evaluations</li>
					</ul>

					<h4>Corporate Relations/Sponsorships Chair</h4>
					<ul>
						<li>Begin sponsorship solicitations</li>
						<li>Mail packets and meet potential sponsors in person</li>
						<li>Get high powered, influential people involved in the ask</li>
						<li>Follow-up bi-weekly until you get an answer</li>
						<li>If corporations are not interested in sponsoring the event at-large, ask them to commit to purchase several tickets</li>
					</ul>

					<h4>Marketing and PR Chair</h4>
					<ul>
						<li>Create an overall marketing and communications strategy</li>
						<li>Outline a tactical calendar for carrying out that strategy</li>
						<li>Meet with other conference chairs to talk about marketing support needs</li>
						<li>Work with design chair to launch initial event website</li>
					</ul>

					<h4>Design Chair</h4>
					<ul>
						<li>Create an overall look and feel for the event</li>
						<li>Design and launch initial website (work with marketing/PR chair on content)</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<h2 class="text-center">7 – 6 Months <small>Before</small></h2>
				</div>
				<div class="panel col-md-9">
					<h4>Event Chair(s)</h4>
					<ul>
						<li>Begin monthly meetings for all Committee Chairs <small>(Keep this a standing date to ensure attendance.)</small></li>
						<li>Each committee reports progress and expresses needs</li>
						<li>Reconcile budget</li>
						<li>Go over budget with the Committee Chairs keeping close tabs on what each Committee spends</li>
					</ul>

					<h4>Speaker Curator</h4>
					<ul>
						<li>Release call for speakers</li>
						<li>Work with marketing chair to promote call for speakers</li>
					</ul>

					<h4>Corporate Relations/Sponsorships Chair</h4>
					<ul>
						<li>Continue with sponsorship solicitations and table/ticket sales</li>
						<li>Start to collect sponsor logos for use in PR and signage</li>
						<li>Ask sponsors to participate in volunteering for event</li>
					</ul>

					<h4>Media & Public Relations Chair</h4>
					<ul>
						<li>Promote call for speakers: email campaign, social media campaign, reach out to key contacts for co-promotion, etc. </li>
						<li>Continue to hold monthly committee meetings </li>
						<li>Begin to publish promotional content for event <small>(blog posts, articles, etc.)</small></li>
						<li>Promote early ticket sales: email campaign, social media campaign, reach out to key influencers/bloggers, etc.</li>
					</ul>

					<h4>Event Chair(s)</h4>
					<ul>
						<li>Start early ticket sales </li>
						<li>Go over budget with the Committee Chairs keeping close tabs on what each Committee spends </li>
					</ul>

					<h4>Corporate Relations/Sponsorships Chair</h4>
					<ul>
						<li>Mail second invoices to corporate sponsors (if necessary) </li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<h2 class="text-center">4 Months <small>Before</small></h2>
				</div>
				<div class="panel col-md-9">
					<h4>Event Chair(s)</h4>
					<ul>
						<li>Visit event venue</li>
						<li>Continue holding monthly committee meetings</li>
						<li>Go over budget with the Committee Chairs keeping close tabs on what each Committee spends</li>
					</ul>

					<h4>Speaker Curator</h4>
					<ul>
						<li>Choose final speaker line-up</li>
						<li>Notify speakers</li>
						<li>Pass talk titles, descriptions, speaker names, headshots, etc., to marketing</li>
					</ul>

					<h4>Corporate Relations/Sponsorship Chair</h4>
					<ul>
						<li>Report your progress to sponsors</li>
					</ul>

					<h4>Event Chair(s)</h4>
					<ul>
						<li>Start bi-weekly Committee meetings</li>
						<li>Go over budget with the Committee Chairs keeping close tabs on what each Committee spends</li>
					</ul>

					<h4>Marketing & Public Relations Chair</h4>
					<ul>
						<li>Release conference speakers and talks on website</li>
						<li>Run email and social campaign around speakers to drive ticket sales</li>
						<li>Provide speakers with promotional tweets, FB posts, etc., to share</li>
						<li>Send press release with speaker line-up</li>
					</ul>

					<h4>Design Chair</h4>
					<ul>
						<li>Start working on any signage/design needs for event: badges, posters, wayfinding, etc.</li>
					</ul>

					<h4>Catering Chair</h4>
					<ul>
						<li>Begin to focus on menu options</li>
						<li>Work closely with caterer</li>
						<li>Don't forget to consider special dietary needs of guests</li>
						<li>Set up time for tasting of the menu if necessary</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<h2 class="text-center">2 Months <small>Before</small></h2>
				</div>
				<div class="panel col-md-9">
					<h4>Logistics Committee Chair</h4>
					<ul>
						<li>Get volunteers committed for the day of the event</li>
						<li>Clarify any parking issues that might be attached to using the venue</li>
					</ul>

					<h4>Entertainment/Program Committee Chair</h4>
					<ul>
						<li>Final considerations</li>
						<li>Sound systems</li>
						<li>Transporting heavy objects</li>
					</ul>

					<h4>Event Chair(s)</h4>
					<ul>
						<li>Continue with bi-weekly committee meetings</li>
						<li>Go over budget with the Committee Chairs keeping close tabs on what each Committee spends</li>
					</ul>

					<h4>Volunteer coordinator</h4>
					<ul>
						<li>Should meet with each committee chair to determine needs</li>
					</ul>

					<h4>Corporate Relations/ Sponsorship Chair</h4>
					<ul>
						<li>Start to design signs for sponsors in coordination with Design Chair</li>
						<li>Be sure to use the most updated logo</li>
						<li>Report progress to sponsors</li>
					</ul>

					<h4>Catering Chair</h4>
					<ul>
						<li>Confirm menus with the caterer</li>
						<li>Be sure all rentals have been requested</li>
						<li>Make sure all beverages are set including non-alcoholic beverages</li>
					</ul>

					<h4>Marketing & PR Chair</h4>
					<ul>
						<li>Continue push for ticket sales</li>
						<li>Continue to execute on tactical marketing plan</li>
						<li>Reach out to regional companies with large UX teams for group ticket sales</li>
					</ul>

				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<h2 class="text-center">1 Month <small>Before</small></h2>
				</div>
				<div class="panel col-md-9">
					<h4>Volunteer Coordinator</h4>
					<ul>
						<li>Confirm volunteers - tell them where to be and when </li>
					</ul>

					<h4>Catering Chair </h4>
					<ul>
						<li>Confirm catering </li>
					</ul>

					<h4>Entertainment/Program Committee Chair </h4>
					<ul>
						<li>Confirm entertainment </li>
						<li>Confirm arrival times: Emcee, entertainment, and volunteers </li>
					</ul>

					<h4>Event Chair </h4>
					<ul>
						<li>Print out guest list in alphabetical order for the check-in volunteers </li>
						<li>Generate checks for entertainment and caterer if required </li>
					</ul>

					<h4>Marketing & Public Relations Chair </h4>
					<ul>
						<li>Final ticket sale push (if any are left)</li>
						<li>Offer comped tickets to a few key media people</li>
						<li>Coordinate any media interviews with speakers/key organizers</li>
					</ul>

					<h4>Design Chair</h4>
					<ul>
						<li>Coordinate final signage production </li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<h2 class="text-center">Day of Event</h2>
				</div>
				<div class="panel col-md-9">
					<h4>Entertainment/Program Committee Chair</h4>
					<ul>
						<li>Be sure all necessary sound equipment is delivered early on the day of the event in case of problems Day of the event </li>
					</ul>

					<h4>All Event & Committee Chairs </h4>
					<ul>
						<li>Arrive for set up </li>
						<li>Work in shifts </li>
					</ul>

					<h4>Volunteer Coordinator </h4>
					<ul>
						<li>Lead his/her troops </li>
						<li>Keep timeline close at hand all evening to check the status </li>
					</ul>

					<h4>Catering Chair </h4>
					<ul>
						<li>Walk through event one final time with the caterer </li>
					</ul>

					<h4>Entertainment/Program Committee Chair </h4>
					<ul>
						<li>Have featured entertainment and speakers in place 20 minutes before you need them</li>
					</ul>

					<h4>Design Chair</h4>
					<ul>
						<li>Deliver all signage and design elements to event</li>
					</ul>
				</div>
			</div>


			<div class="row">
				<div class="col-md-3">
					<h2 class="text-center">Post Event Follow-up </h2>
				</div>
				<div class="panel col-md-9">
					<h4>Event Chair </h4>
					<ul>
						<li>Reconcile budget </li>
						<li>Collect any outstanding money or pledges </li>
						<li>Mail or deliver all expenses from event </li>
						<li>Send thank you notes to all committee members </li>
						<li>Send a report to all sponsors with a thank you </li>
						<li>Send evaluation request and thank you to all attendees</li>
					</ul>

					<h4>Follow-up</h4>
					<ul>
						<li>Send follow-up communications to all special guests encouraging them to continue to support the organization</li>
						<li>Collect all articles and press clippings </li>
						<li>Meet with individual committees 2 to 5 days after the event for evaluation </li>
						<li>Discuss all successes and challenges of event </li>
						<li>Offer suggestions to remedy problems </li>
						<li>Offer explanations as to why certain things did and did not work </li>
						<li>Save all notes and compile a notebook for reference to future chairs </li>
						<li>Include all budget to actual information </li>
						<li>Include receipts </li>
						<li>Include planning notes from each committee chair </li>
						<li>Include all press releases </li>
						<li>Include sample letters sent to sponsors </li>
						<li>Include attendee lists </li>
					</ul>
				</div>
			</div>

		</div>
	</div>

	<!-- Committee -->
	<div id="committee" class="p2">
		<div class="container">
			<h2 class="text-center text-uppercase mb2">Initial Committee Members</h2>
			<div class="row">

				<div class="col-md-6">
					<div class="col-md-10 col-md-offset-2">
						<div class="panel panel-white p2">
							<div class="media">
								<div class="media-left media-middle">
									<img src="/public/images/tammy.jpg" class="round" alt="Tammy Gambrel" />
								</div>
								<div class="media-body">
									<h4>Tammy Gambrel, Chair</h4>
									<p>	As Director of Events at <a href="http://teamgaslight.com">Gaslight</a>, a software design and development firm, Tammy plans everything from training workshops and marketing events to full-fledged tech conferences with 100+ attendees. She excels at everything from nitty gritty event logistics to securing sponsors and creating a great experience for attendees. Before joining Gaslight, she worked as the Director of Development and Donor Relations at the Contemporary Arts Center and the Director of Special Events for the Cincinnati Ballet.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-10 col-md-offset-2">
						<div class="panel panel-white p2">
							<div class="media">
								<div class="media-left media-middle">
									<img src="/public/images/dave-knox.jpg" class="round" alt="Dave Knox" />
								</div>
								<div class="media-body">
									<h4>Dave Knox</h4>
									<p>Dave Knox is Chief Marketing Officer for <a href="http://www.rockfishinteractive.com/Default.aspx">Rockfish</a>. Rockfish is one of the fastest growing digital agencies in the country, placing #3 on AdAge’s Agency A-List and winning the inaugural AdAge Small Agency of the Year Award. Dave is a partner in Vine St. Ventures, serves on the Board of VCU Brandcenter, and is the co-founder of The Brandery – one of the top 10 startup accelerators in the country. Prior to Rockfish, Knox was a seven year veteran of Procter & Gamble, where he was instrumental in the digital turnaround that led to P&G being named to AdAge’s Digital A-List. Dave speaks frequently on brand and digital marketing, including appearances at Mashable Connect, SXSW, TEDxCincy, American Express Innovation Summit, and the Web 2.0 Summit.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-10 col-md-offset-2">
						<div class="panel panel-white p2">
							<div class="media">
								<div class="media-left media-middle">
									<img src="/public/images/kenny-glenn.jpg" class="round" alt="Kenny Glenn" />
								</div>
								<div class="media-body">
									<h4>Kenny Glenn</h4>
									<p>Kenny is a UX designer at <a href="http://teamgaslight.com">Gaslight</a>, a software design and development shop. He enjoys working on user-focused design and front-end development—digging in on everything from discovery to styles. He’s always focused on keeping software fun and easy to use. Kenny co-organizes the local User Enjoyment (UX) Meetup Group, and before joining Gaslight, he worked at a Cincinnati start-up called Repp, which is an online identity verification service.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-10 col-md-offset-2">
						<div class="panel panel-white p2">
							<div class="media">
								<div class="media-left media-middle">
									<img src="/public/images/sam-borstadt.jpeg" class="round" alt="Sam Borstadt" />
								</div>
								<div class="media-body">
									<h4>Sam Borstadt</h4>
									<p>Sam Borstadt is a UX Designer at Paycor, a SaaS company that specializes in HR and payroll solutions. She’s also the co-organizer of the local User Enjoyment (UX) Meetup Group. If she’s not working, you might find her reading up on data visualization or working on self-directed projects. Before she joined Paycor, she worked for Louisville-based Indatus as a UX researcher, and led a winning team at Startup Weekend in Louisville.</p>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="col-md-6">
					<div class="col-md-10 col-md-offset-2">
						<div class="panel panel-white p2">
							<div class="media">
								<div class="media-left media-middle">
									<img src="/public/images/matthew-lewis.jpg" class="round" alt="Matthew Lewis" />
								</div>
								<div class="media-body">
									<h4>Matthew Lewis, Co-Chair</h4>
									<p>Matthew Lewis is the Vice President, Experience Strategy at <a href="http://www.rockfishinteractive.com/Default.aspx">Rockfish</a>, one of the fastest growing digital agencies in the country. He’s responsible for integrating and introducing best in class user centered design processes across each of the Rockfish offices. Matt has worked in both B2C and B2B environments with a focus in retail, CPG, financial and automotive. Matt has also spent a great deal of his time focused on mobile first methodologies and delivering experiences that are effective across multiple devices.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-10 col-md-offset-2">
						<div class="panel panel-white p2">
							<div class="media">
								<div class="media-left media-middle">
									<img src="/public/images/michelle-taute.jpg" class="round" alt="Michell Taute" />
								</div>
								<div class="media-body">
									<h4>Michelle Taute</h4>
									<p>Michelle Taute is the Director of Marketing and Communications for <a href="http://teamgaslight.com">Gaslight</a>, a software design and development shop. Before joining Gaslight, she spent 13 years as an independent writer and content strategist, focusing much of her efforts on the design field. She’s written for I.D., Print, HOW, Communication Arts, Neenah Paper’s Against the Grain and many others. Michelle also ran the prestigious I.D. Annual Design Review competition for several years and helped judge the HOW Interactive Design competition for several years. In addition, she’s the co-author of The Design Activist’s Handbook and the author of Design Matters: Brochures. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-10 col-md-offset-2">
						<div class="panel panel-white p2">
							<div class="media">
								<div class="media-left media-middle">
									<img src="/public/images/becky-sroufe.png" class="round" alt="Becky Sroufe" />
								</div>
								<div class="media-body">
									<h4>Becky Sroufe</h4>
									<p>Becky Sroufe is a professional designer + front end developer at Kroger. With over 6+ years of experience in designing and developing for web, she’s most passionate about creating experiences that users can love and enjoy. Becky has designed responsive websites, application interfaces, graphic work and doodles for fun. When she’s away from her keyboard, you might find Becky co-leading the Girl Develop It Cincinnati chapter, running or drinking craft beers.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-10 col-md-offset-2">
						<div class="panel panel-white p2">
							<div class="media">
								<div class="media-left media-middle">
									<img src="/public/images/janelle-hopper.jpg" class="round" alt="Janelle Hopper" />
								</div>
								<div class="media-body">

									<h4>Janelle Hopper</h4>
									<p>Janelle Hopper is an account executive for digital agency <a href="(http://www.alittledata.com/">Barefoot Proximity</a>. But she’s also a fixture on Cincinnati’s design, art and culture scene. In her previous role as the Public Program Manager for the Contemporary Arts Center, she brought the one-day design and technology conference OFFF to Cincinnati. Her efforts doubled the event’s attendance and revenue from 2011 to 2013. She’s passionate about brand building and creative leadership.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Cincinnati -->
	<div id="cincinnati">
		<div class="container mt8">
			<div class="row">
				<h1 class="text-center text-uppercase mb2">Design in Cincinnati</h1>
				<div class="col-md-5">
					<p class="lead">There’s a huge design scene in Cincinnati. Ten different Fortune 500 companies are headquartered here, and a thriving community of traditional and digital design agencies support them. Most notably, we’re home to Procter & Gamble, the consumer products giant behind brands like Tide, Pampers and Bounty, and the world’s largest advertiser by annual spend. </p>

					<p>On the tech side, <a href="http://www.entrepreneur.com/article/227439">Entrepreneur magazine called us an “unexpected hub for tech startups.”</a> The Cincinnati-based Brandery earned a spot on Tech Cocktail’s list of <a href="http://tech.co/top-startup-accelerators-ranked-2012-08">Top 15 startup accelerators</a> in the country. More than half of the Brandery’s graduates keep their companies in Cincinnati, and these start-ups are fueling growth in the local UX talent pool. The Cincinnati User Enjoyment UX Meetup, for example, has more than 300 members. </p>
				</div>
				<div class="col-md-7">
					<h4>Creative Landmarks</h4>
					<p>Just a few highlights of Cincinnati’s creative and design scene:</p>

					<h5><a href="http://daap.uc.edu">DAAP: The University of Cincinnati College of Design, Art, Architecture and Planning</a></h5>
					<p>This local design school is world famous and consistently finds itself at the top of many best of  lists. It makes regular appearances on Business Week’s list of top 30 design schools on the planet. And has received similar recognition from I.D. (International Design) magazine, U.S. News & World report and GDUSA magazine.</p>


					<h5><a href="http://www.howdesign.com/">HOW and PRINT magazines, conferences and design contests</a></h5>
					<p>We’re home to two of the most popular design magazines in the country and the talented teams behind them. HOW runs a large interactive design competition each year and creates a wide range of online and in-person events for interactive designers. There’s the potential for creative collaboration or sponsorship for Midwest UX.

					<h4>Cincinnati Represents</h4>
					<p>We have thriving local chapters of many notable national groups:</p>
					<ul>
						<li><a href="https://cincinnati.aiga.org">AIGA Cincinnati</a></li>
						<li><a href="https://www.girldevelopit.com/chapters/cincinnati">Cincinnati Girl Develop It</a> <small>(1,000+ strong!)</small></li>
						<li><a href="http://creativemornings.com/cities/cin">Creative Mornings Cincinnati</a></li>
					</ul>
					<h4>Thriving Visual Arts Scene</h4>
					<p>We’re home to the <a href="http://www.cincinnatiartmuseum.org">Cincinnati Art Museum</a>, <a href="https://contemporaryartscenter.org">Contemporary Arts Center</a>, <a href="http://www.taftmuseum.org">Taft Museum of Art</a> and many other smaller galleries and museums. Local non-profit ArtWorks has created more than 90 public murals around the city, and Paste Magazine named us one of <a href="http://www.pastemagazine.com/articles/2015/04/11-lesser-known-cities-for-street-art.html">11 Lesser-Known Cities for Street art</a>. There are also regular art walks and open studios in neighborhoods throughout the city. </p>
				</div>
			</div>
		</div>
	</div>

	<!-- Venue -->
	<div id="venue" class="mt8">
		<div class="container">
			<h1 class="text-center text-uppercase mt2 mb2">The Venue</h1>
			<div class="row">
				<div class="col-md-4">
					<img src="/public/images/aronoff.jpg" alt="aronoff center" class="img-responsive img-thumbnail" />
					<h3>The Aronoff Center </h3>
					<p class="lead">We envision Midwest UX Cincinnati taking place in the Aronoff Center -- a stunning performing arts center downtown with a mix of theaters, art galleries and meeting rooms. It’s an inspiring space with plenty of room for all-conference talks, breakout sessions and mingling in-between.</p>

				</div>
				<div class="col-md-8">
					<h4>Main Talks</h4>
					<p><strong>Jarson-Kaplan Theater:</strong> The Jarson-Kaplan Theater seats 437 and is a perfect setting for Midwest UX talks for all attendees. The theater is surprisingly intimate with full production capabilities, great acoustics, an attractive design, and excellent sightlines.</p>

					<h4 class="mt3">Break Outs</h4>
					<p><strong>Fifth Third Bank Theater:</strong> The Fifth Third Bank Theater is a studio space that seats up to 150 in a theater setting, and offers full lighting and sound.</p>

					<p><strong>Green Room:</strong> This elegant reception space can accommodate up to 140 people for meetings and presentations.</p>

					<p><strong>Weston Art Gallery:</strong> This two-floor, 3,5000 square-foot art gallery provides a creative backdrop for one--or possibly even two--breakout sessions. The exact capacity varies depending on the size of the current art installation. </p>

					<p><strong>Contemporary Arts Center:</strong> Just across the street, this stunning modern building--designed by noted architect Zaha Hadid--will provide overflow space if we need additional breakouts. Or just want a fresh, art-filled space for a cocktail party or meal. </p>

					<h4 class="mt3">Lunch + Mingling</h4>
					<p><strong>Aronoff Center Lobbies:</strong> A soaring wall of glass reveals three lobby levels, and each level can provide a stunning site for social events or meetings. All three floors together can seat 400 people for a meal.</p>
				</div>
			</div>
			<div class="row">
				<h4 class="text-center mb4">Catering</h4>
				<div class="panel">
					<div class="row">

						<div class="col-md-4">
							<p>Aronoff Preferred Caterer:<br>
							<a href="www.vonderhaars.com">Vonderhaar’s Catering, Inc.</a><br>
							19 W. Pleasant Street<br>
							Reading, Ohio 45215<br>
							(513)554-1969<br>
							Toll Free # 1-877-477-4192<br></p>
						</div>
						<div class="col-md-4">
							<p>Aronoff Recommended Caterers:<br>
							<a href="www.jeffthomascatering.com">Jeff Thomas Catering</a><br>
							815 Oak Street<br>
							Ludlow, Kentucky 41016<br>
							(859)291-0286<br>
							events@jeffthomascatering.com<br></p>
						</div>
						<div class="col-md-4">
							<p><a href="http://www.funkyscatering.com">Funky’s Catering</a>
							1761 Tennessee Ave<br>
							Cincinnati, OH 45229<br>
							(513)841-9999<br></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Hotels -->
	<div id="hotels" class="mt8">
		<div class="container">
			<h1 class="text-center text-uppercase mt2 mb2">Hotel Options</h1>
			<p class="col-md-6 col-md-offset-3 lead">These hotels hit a variety of price points, and they’re all within easy walking distance to Midwest UX venues, bars, restaurants, museums, parks, the riverfront and more. </p>
			<div class="row">

				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="/public/images/westin.jpg" alt="Westin Hotel">
						<div class="caption">
							<h3><a href="http://www.westincincinnati.com">The Westin Cincinnati</a></h3>
							<p>Many of the rooms in this contemporary hotel overlook Fountain Square, a public event space in the heart of downtown. There are two restaurants located right in the hotel, including Ingredients for a fast salad or sandwich and McCormick & Schmick’s Seafood for a fancier meal. A lobby bar is the perfect spot for chatting with a new conference pal. Or it’s a short walk to dozens of other bars and restaurants. </p>
							<p><strong>Total rooms:</strong> 456</p>
							<p><strong>Event group discount rate:</strong> $189 a night</p>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="/public/images/21c.jpg" alt="21c Hotel">
						<div class="caption">
							<h3><a href="http://www.21cmuseumhotels.com/cincinnati">21C Museum Hotel</a></h3>
							<p>21c Museum Hotel Cincinnati was named the #1 Hotel in the Midwest, #2 Hotel in the United States and #29 in the world in the 2014 Conde Nast Traveler Readers’ Choice Awards. It’s a boutique hotel with a contemporary art gallery inside, as well as a bar and award-winning restaurant. 21C is located in the center of downtown, right next door to the <a href="https://contemporaryartscenter.org">Contemporary Arts Center</a> and across the street from the <a href="http://www.cincinnatiarts.org/aronoff-center">Aronoff Center for the Arts</a>.</p>
							<p><strong>Total rooms:</strong> 156</p>
							<p><strong>Event group discount rate:</strong> $149 a night</p>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="/public/images/millennium.jpg" alt="Millenium Hotel">
						<div class="caption">
							<h3><a href="http://www.millenniumhotels.com/usa/millenniumcincinnati/">The Millennium Hotel</a></h3>
							<p>Many of the rooms in this high rise hotel offer stunning views of the city. This is also Cincinnati’s largest hotel, so there’s plenty of room for the growing ranks of Midwest UX fans. It’s located in downtown, too, and gives people plenty of nearby options for food and fun. Plus, the nightly rate keeps the conference affordable for budget-minded attendees.</p>
							<p><strong>Total rooms:</strong> 872</p>
							<p><strong>Event group discount rate:</strong> $99 a night</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Budget -->
	<div id="budget" class="mt8">
		<div class="container">
			<h1 class="text-center text-uppercase mt2 mb2">Initial Budget Draft</h1>
			<h3 class="text-uppercase">Revenue</h3>
			<table class="table table-striped">
			  <tr>
			    <th></th>
			    <th>Slot</th>
			    <th>Name</th>
			    <th class="text-right">Available</th>
			    <th class="text-right">Sold</th>
			    <th class="text-right">Budget</th>
			  </tr>
			  <tbody>
			    <tr>
			      <th>Sponsorships</th>
			      <td>Platinum</td>
			      <td></td>
			      <td class="text-right">2</td>
			      <td class="text-right"></td>
			      <td class="text-right">$10,000</td>
			    </tr>
			    <tr>
			      <td></td>
			      <td>Gold</td>
			      <td></td>
			      <td class="text-right">3</td>
			      <td class="text-right"></td>
			      <td class="text-right">$5,000</td>
			    </tr>
			    <tr>
			      <td></td>
			      <td>Silver</td>
			      <td></td>
			      <td class="text-right">4</td>
			      <td class="text-right"></td>
			      <td class="text-right">$2,500</td>
			    </tr>
			    <tr>
			      <td></td>
			      <td>Bronze</td>
			      <td></td>
			      <td class="text-right">10</td>
			      <td class="text-right"></td>
			      <td class="text-right">$1,000</td>
			    </tr>
			    <tr>
			      <td></td>
			      <td>Total Sponsorship</td>
			      <td></td>
			      <td class="text-right"></td>
			      <td class="text-right"></td>
			      <td class="text-right">$55,000</td>
			    </tr>

			    <tr>
			      <th>Ticket Sales</th>
			      <td>Attendee <small>Early Bird</small></td>
			      <td></td>
			      <td class="text-right">150</td>
			      <td class="text-right"></td>
			      <td class="text-right">$300</td>
			    </tr>
			    <tr>
			      <td></td>
			      <td>Attendee <small>Regular</small></td>
			      <td></td>
			      <td class="text-right">250</td>
			      <td class="text-right"></td>
			      <td class="text-right">$350</td>
			    </tr>

			    <tr>
			      <th>Total Income</th>
			      <th></th>
			      <th></th>
			      <th class="text-right"></th>
			      <th class="text-right"></th>
			      <th class="text-right">$187,500</th>
			    </tr>

			  </tbody>
			</table>

			<h3 class="text-uppercase">Expenses</h3>
			<table class="table table-striped">
			  <tr>
			    <th></th>
			    <th>Slot</th>
			    <th class="text-right">Need</th>
			    <th class="text-right">Per</th>
			    <th class="text-right">Budget</th>
			  </tr>
			  <tbody>
			    <tr>
			      <th>Venue</th>
			      <td>Aronoff Lease</td>
			      <td></td>
			      <td></td>
			      <td class="text-right">$5,000</td>
			    </tr>

			    <tr>
			      <td></td>
			      <td>A/V Rental & Setup</td>
			      <td></td>
			      <td></td>
			      <td class="text-right">$1,500</td>
			    </tr>
			    <tr>
			      <td></td>
			      <td>Intro & Wrap-up Video</td>
			      <td></td>
			      <td></td>
			      <td class="text-right">$1,500</td>
			    </tr>
			    <tr>
			      <td></td>
			      <td>Videography</td>
			      <td></td>
			      <td></td>
			      <td class="text-right">$1,000</td>
			    </tr>
			    <tr>
			      <td></td>
			      <td>Tables & Linens</td>
			      <td></td>
			      <td></td>
			      <td class="text-right">$500</td>
			    </tr>

			    <tr>
			      <th>Beverages</th>
			      <td>Thursday, Friday, & Saturday</td>
			      <td></td>
			      <td></td>
			      <td class="text-right">$3,500</td>
			    </tr>

			    <tr>
			      <th>Food</th>
			      <td>Thursday Breakfast</td>
			      <td class="text-right">400</td>
			      <td class="text-right">$4.50</td>
			      <td class="text-right">$1,800</td>
			    </tr>
			    <tr>
			      <td></td>
			      <td>Thursday Lunch</td>
			      <td class="text-right">400</td>
			      <td class="text-right">$10.00</td>
			      <td class="text-right">$4,000</td>
			    </tr>
			    <tr>
			      <td></td>
			      <td>Friday Breakfast</td>
			      <td class="text-right">400</td>
			      <td class="text-right">$4.50</td>
			      <td class="text-right">$1,800</td>
			    </tr>
			    <tr>
			      <td></td>
			      <td>Friday Lunch</td>
			      <td class="text-right">400</td>
			      <td class="text-right">$10.00</td>
			      <td class="text-right">$4,000</td>
			    </tr>
			    <tr>
			      <td></td>
			      <td>Saturday Breakfast</td>
			      <td class="text-right">400</td>
			      <td class="text-right">$4.50</td>
			      <td class="text-right">$1,800</td>
			    </tr>
			    <tr>
			      <td></td>
			      <td>Saturday Lunch</td>
			      <td class="text-right">400</td>
			      <td class="text-right">$10.00</td>
			      <td class="text-right">$4,000</td>
			    </tr>
			    <tr>
			      <td></td>
			      <td>Snacks for all days</td>
			      <td class="text-right">1200</td>
			      <td class="text-right">$3.50</td>
			      <td class="text-right">$4,200</td>
			    </tr>

			    <tr>
			      <th>Giveaways</th>
			      <td>T-shirts for Staff</td>
			      <td class="text-right">40</td>
			      <td class="text-right">$12.00</td>
			      <td class="text-right">$480</td>
			    </tr>
			    <tr>
			      <td></td>
			      <td>T-shirts</td>
			      <td class="text-right">400</td>
			      <td class="text-right">$12.00</td>
			      <td class="text-right">$4,800</td>
			    </tr>
			    <tr>
			      <td></td>
			      <td>Stickers</td>
			      <td class="text-right">400</td>
			      <td class="text-right">$0.50</td>
			      <td class="text-right">$200</td>
			    </tr>

			    <tr>
			      <th>Speakers</th>
			      <td>Stipend</td>
			      <td class="text-right">50</td>
			      <td class="text-right">$500</td>
			      <td class="text-right">$25,000</td>
			    </tr>

			    <tr>
			      <th>Misc</th>
			      <td>Gifts</td>
			      <td class="text-right">50</td>
			      <td class="text-right">$50</td>
			      <td class="text-right">$2,500</td>
			    </tr>
			    <tr>
			      <td></td>
			      <td>Petty Cash</td>
			      <td class="text-right"></td>
			      <td class="text-right"></td>
			      <td class="text-right">$500</td>
			    </tr>

			    <tr>
			      <th>Admin</th>
			      <td>Eventbrite & CC Processing</td>
			      <td class="text-right">$132,500</td>
			      <td class="text-right">6.00%</td>
			      <td class="text-right">$7,950</td>
			    </tr>
			    <tr>
			      <td></td>
			      <td>Signage</td>
			      <td class="text-right"></td>
			      <td class="text-right"></td>
			      <td class="text-right">$2,000</td>
			    </tr>
			    <tr>
			      <td></td>
			      <td>Copy Writing</td>
			      <td class="text-right"></td>
			      <td class="text-right"></td>
			      <td class="text-right">$600</td>
			    </tr>
			    <tr>
			      <td></td>
			      <th>Total Expenses</th>
			      <td class="text-right"></td>
			      <td class="text-right"></td>
			      <th class="text-right">$76,527</th>
			    </tr>
			  </tbody>
			</table>

			<table class="table table-striped">
			  <tr>
			    <td><h4>Net Profit</h4></td>
			    <td></td>
			    <td class="text-right"></td>
			    <td class="text-right"></td>
			    <td class="text-right"><h4>$110,973</h4></td>
			  </tr>
			</table>
		</div>
	</div>

	<!-- Getting Around -->
	<div id="around" class="mt8">
		<div class="container mb8">
			<h1 class="text-center text-uppercase mt2 mb2">Getting Around</h1>
			<div class="row">
				<p class="lead col-md-6 col-md-offset-3">It’s easy to explore downtown Cincinnati and the nearby Over the Rhine (OTR) neighborhood; the places where all the Midwest UX action will happen. We hope to provide free passes and/or discounts for some transportation options in attendee SWAG bags.</p>
			</div>
			<div class="row">
				<div class="col-md-3">
					<h4><a href="http://www.cincinnati-oh.gov/streetcar">Cincinnati Streetcar</a></h4>
					<p>Midwest UX attendees will be among the first passengers on Cincinnati’s brand new street car! It’s set to open in mid September 2016. The route runs between downtown and historic OTR with stops every two blocks. </p>
				</div>

				<div class="col-md-3">
					<h4><a href="http://www.cincyredbike.org/locations/">Cincinnati Red Bike</a></h4>
					<p>There are more than two dozen Cincinnati Red Bike stations in the city center. Attendees can easily rent a bike and roll from the hotel to the conference to dinner. Or take a leisurely ride along the banks of the Ohio River.</p>
				</div>

				<div class="col-md-3">
					<h4><a href="http://www.go-metro.com/">Cincinnati Metro</a></h4>
					<P>Downtown is the hub for Cincinnati’s bus system. It’s easy to go from one side of downtown to the other or explore the whole city. The free <a href="http://busdetective.com/">Bus Detective app</a> gives real-time arrival data, so conference-goers can find out when the bus is coming. </P>
				</div>

				<div class="col-md-3">
					<h4><a href="https://www.uber.com/cities/cincinnati">Uber Cincinnati</a></h4>
					<p>An affordable private driver is a just a few clicks away with the abundance of Uber drivers serving Cincinnati. It only takes a few minutes to secure a ride in the downtown area.</p>
				</div>

			</div>
		</div>
	</div>

	<!-- Contact -->
	<div id="contact">
		<div class="container">
			<div class="row">
				<div class="panel panel-primary col-md-4 col-md-offset-4 mt8 p4">
					<div class="row">
						<p class="text-center text-uppercase">Questions? Reach out to:</p>
						<div class="col-md-4">
							<img src="/public/images/tammy.jpg" alt="tammy" class="round img-responsive" />
						</div>
						<div class="col-md-8">
							<p>Tammy Gambrel<br/>
							Director of Events, Gaslight<br/>
							<a href="mailto:tammy@teamgaslight.co">tammy@teamgaslight.com</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
