.round {
  border-radius: 50%;
}

.panel {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  &.panel-primary {
    background-color: @brand-primary;
    color: @white;
    a {
      color: @brand-warning;
    }
  }
}

p a, h5 a {
  color: @brand-info;
}

.navbar {
  background: @white;
  border-bottom: 5px solid @brand-warning;
  li {
    font-size: .7em;
    text-transform: uppercase;
    font-weight: 700;
  }
  .navbar-brand  {
    width: 300px;
    @media (min-width: @screen-sm-max) {
      margin-bottom: 0.7em;
      width: auto;
    }
    img {
      width: 50%;
      height: auto;
    }
  }
  .navbar-nav {
    margin-top: .5em;
  }
  .navbar-toggle .icon-bar {
    background-color: @brand-warning;
  }
}
