.round {
  border-radius: 50%;
}

.panel {
  &.panel-primary {
    background-color: fade(@brand-primary, 70%);
    color: @white;
    border: none;
    a {
      color: @brand-warning;
    }
  }
}

p a, h5 a {
  color: @brand-info;
}

.hero-graphic {
  margin-top: 60px;
}

.container {
   overflow-x: hidden;
}

.navbar {
  background: @white;
  border-bottom: 5px solid @brand-warning;
  li {
    font-size: .7em;
    text-transform: uppercase;
    font-weight: 700;
  }
  .navbar-brand  {
    width: 200px;
    padding: 5px;
    @media (min-width: @screen-sm-max) {
      margin-bottom: 0.7em;
      width: auto;
    }
    img {
      width: 200px;
      height: auto;
    }
  }
  .navbar-nav {
    margin-top: .5em;
    float: right;
  }
  .navbar-toggle .icon-bar {
    background-color: @brand-warning;
  }
}

.nav > li > a {
  padding-left: 12px;
  padding-right: 12px;
}
