#intro {
  background: url('/public/images/hero-cincy.jpg') center center no-repeat;
  @media (min-width: @screen-sm-max) {
    height: 90vh;
    max-height: 1000px;
  }
  .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

#process {
  background-color: @brand-warning;
}

#timeline {
  .row {
    position: relative;
    &:after {
      display: none;
      @media (min-width: @screen-sm-max) {
        background-color: @brand-primary;
        content: '';
        display: block;
        width: 10px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 140px
      }
    }
    .col-md-3 {
      background-color: @white;
      z-index: 1;
      small {
        display: block;
      }
    }
  }
  .panel {
    padding: 1em 3em 3em;
    h4 {
      margin-top: 1.5em;
    }
  }
}

#committee {
  background-color: @brand-warning;
  .media-left {
    display: block;
    @media (min-width: @screen-sm-max) {
      display: table-cell;
    }
  }
  .round {
    width: 80px;
    @media (min-width: @screen-sm-max) {
      width: 150px;
      margin-left: -95px;
    }
  }
}

#cincinnati {
  h4 {
    margin-top: 1.5em;
  }
}

#venue {
  border-top: 16px double @brand-warning;
  h4 {
    margin-top: 1.5em;
  }
  h5 {
    margin-top: 1em;
  }
}

#hotels {
  border-top: 16px double @brand-primary;
}

#budget {
  border-top: 16px double @brand-warning;
}

#around {
  border-top: 16px double @brand-primary;
}

#contact {
  background: url('/public/images/contact-cincy.jpg') center center no-repeat;
  background-size: 100%;
  height: 550px;
  padding-top: 100px
}
